[alt='Pollution'] {
  border: 5px dashed red;
}
img[src$='.jpg'] {
  margin-left: 50px;
}
[data-description~='even'] {
  background-color: grey;
}
[data-description*='even'] {
  font-size: 24px;
}
[href^="https://"]
{
  color: green;
}
href [lang='en-gb' + 'en' + 'en-us'] {
  font-size: 28px;
}
